:root{
    --primary: #0c1940;
}
*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    min-height: 100vh;
}

.container{
    width: calc(100vw - 200px);
    margin: auto;
}

.navbar{
    padding: 20px 0;
    background-color: var(--primary);
    color: white;
}

.navbar nav{
    display: flex;
    justify-content: space-between;
}
.navbar h6{
    display: flex;
    align-items: center;
}

.navbar .menu{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 500px;
}

.navbar .menu a{
    display: block;
    border-radius: 50px;
    padding: 10px;
    font-size: 10px;
    color: white;
}

.navbar .menu a.active{
    color: var(--primary);
    background-color: white;
}
h1{
    color: var(--primary);
    margin-bottom: 30px;
}

footer{
    background-color: var(--primary);
    margin-top: 50px;
    padding: 20px 0 40px;
    color: white;
}
footer h6{
    font-size: 12px;
}
footer p{
    font-size: 12px;
}

footer .card img{
    padding-bottom: 10px;
}

footer .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 80px;
}

footer .card .content-card-footer{
    padding-top: 20px;
}
footer .card .content-card-footer p{
    margin-bottom: 10px;
}


.content{
    margin: 40px 0;
}

.show-data-mahasiswa{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 40px;
}
.show-data-mahasiswa .card{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #dedede;
    border-radius: 15px;
}

.show-data-mahasiswa .left > *{
    margin: 10px 0;
}

.show-data-mahasiswa .left h3{
    margin: 0;
}
.show-data-mahasiswa .right{
    padding-right: 30px;
}
.btn-group{
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
}

.btn-delete{
    width: 40px;
    height: 40px;
    background-color: transparent;
    margin-right: 20px;
    color: red;
    border: 1px solid #dedede;
    border-radius: 50px;
    transition: all .8s;
}
.btn-delete:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 5px #dedede;
}
.btn-edit:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 5px #dedede;
}
.btn-edit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--primary);
    border-radius: 50px;
    color: white;
    background-color: var(--primary);
    transition: all .8s;
}

.status{
    display: block;
    width:max-content;
    padding: 10px;
    background-color: var(--primary);
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.form-input{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    position: relative;
    padding-bottom: 100px;
}
.form-input .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
}
.form-input .row label{
    font-weight: 700;
}

.form-input .row input, .form-input .row select{
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #dedede;
}
.btn-submit-data{
    background-color:var(--primary);
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    width: max-content;
    border: 1px solid var(--primary);
}
.danger{
    color: red;
    font-size: 11px;
}

.success{
    background-color: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.error{
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.foto-wrapper{
    text-align: center;
}
.foto-wrapper h1{
    margin: 20px 0;
}

.mt-5{
    margin-top: 40px;
}

h3{
    color: var(--primary);
}